<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Flask PostgreSQL App</title>
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<h1 style="color: red;text-align: center">My Shopping List</h1>
		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>Item</th>
				<th>Price</th>
				<th>Quantity</th>
			</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ row[3] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Add Items to Shopping List</h2>
		<form action="/create" method="post">
			<input type="text" name="item" placeholder="Item">
			<input type="text" name="price" placeholder="Price">
			<input type="text" name="quantity" placeholder="Quantity">
			<input type="submit" value="Create">
		</form>
		<h2>Update/Delete Items</h2>
		<table>
			<thead style="display: block">
				<tr>
					<th>ID</th>
					<th width="35%">Item</th>
					<th width="35%">Price</th>
					<th width="35%">Quantity</th>
					<th width="35%">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>

					<td>
						<form action="/update" method="post">
							<label>{{ row[0] }}</label>
							<input type="hidden" name="id" value="{{ row[0] }}">
							<input type="text" name="item" size="15" value="{{ row[1] }}">
							<input type="text" name="price" size="7" value="{{ row[2] }}">
							<input type="text" name="quantity" size="3" value="{{ row[3] }}">
							<input type="submit" value="Update">
						</form>
					</td>

					<td>
						<form action="/delete" method="post">
							<input type="hidden" name="id" value="{{ row[0] }}">
							<input type="submit" value="Delete">
						</form>
					</td>

				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
